<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CoinbaseAPIKey" value="ThisIsYourCoinbaseAPIKey"/>
    <add key="CoinbaseAPISecret" value="ThisIsYourCoinbaseAPISecret"/>
    <add key="CoinbaseAccount" value="ThisIsYourCoinbaseAccount"/>
    <add key="NiceHashAddress" value="ThisIsYourNiceHashMiningAddress"/>
    <add key="NiceHashAPIId" value="ThisIsyourNiceHashAPIId"/>
    <add key="NiceHashAPIKey" value="ThisIsYourNiceHashAPIReadOnlyKey"/>
    <add key="TargetProfits" value="1000000.00"/>
    <add key="StartDate" value="2018-01-01"/>
    <add key="TargetProfitDate" value="2030-12-31"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>